CompileFlags:
  CompilationDatabase: "build"

  Add:
    - "-fms-compatibility"
    - "-std=c++20"
    - "-Wno-c++98-compat"
    - "-Wno-c++98-compat-pedantic"
    - "-Id:/workflow/bakuon/source"
    - "-Wall"
    - "-Wno-nrvo"
    - "-Wno-padded"
    - "-Wno-covered-switch-default"

  Remove: 
    - "/Gm"          # 已弃用的增量构建 flag
    - "/ZI"          # Edit and Continue，clangd 不支持
    - "-Wzero-as-null-pointer-constant"
    - "-Wcovered-switch-default"
    - "-Wnrvo"

Completion:
  HeaderInsertion: Never
